
@font-face {
    font-family: 'petme128';
    src: url('../fonts/petme128.ttf') format('truetype');
}

html, body {
    font-family: petme128;
    background: #7c71da;
    height: 100%;
    width:100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#loadhold {
    overflow: no-display;
    min-height: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.loadbar {
    margin: 0px;
    padding: 0px;
    height: 10px;
    width: 100%;
}

#allw {
    width: 100%;
    left: 0;
    top: 13%;
    z-index: 3;
    position: absolute;
}

#csixintro {
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    background: #3e31a2;
    padding-top: 5vh;
    height: 80vh;
}

#csixfour {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    background: #3e31a2;
    padding-top: 10px;
    height: 700px;
    display: none;
}


#csixtape {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    background: #3e31a2;
    padding-top: 10px;
    height: 700px;
    display: none;
}

#csixhs {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    background: #3e31a2;
    padding-top: 10px;
    height: 700px;
    display: none;
}

#scorebit {
    overflow: auto;
    display: block;
    height: 420px;
    padding-left: 20px;
    padding-right: 20px;
    scrollbar-base-color: #3e31a2;
}

#ssimg {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 112px;
    padding-right: 112px;
    display: none;
    background: #3e31a2;
    height: 550px;
}

p {
    line-height: 30px;
    color: #7c71d9;
    text-transform: Uppercase;
}

#uar {
    line-height: 0px;
}

#head {
    text-align: center;
    width: 100%;
}

#endsec {
    display: none;
}

.but {
    font-family: petme128;
    font-size: 26px;
    background: #3e31a2;
    padding: 0px;
    margin: 0px;
    border: 0px;
    color: #7c71d9;
    cursor: pointer;
}

.but1 {
    font-family: petme128;
    font-size: 26px;
    background: #3e31a2;
    padding: 0px;
    margin: 0px;
    border: 0px;
    color: #7c71d9;
    width: 1px;
}

.LoadingBody{
    padding-left:40px;
    padding-right:40px;
}

/*.LoadingText{
    word-break:break-word;
}*/

@media only screen and (max-device-width: 480px) {
    .BlockMobile {
        display: block;
    }

    .BlockDesktop {
        display: none;
    }

    body {
        font-size: 10px;
    }
}

@media only screen and (min-device-width: 481px) {
    .BlockMobile {
        display: none;
    }

    .BlockDesktop {
        display: block;
    }

    body {
        font-size: 26px;
    }
}