@{
    ViewData["Title"] = "Home Page";
}

<div id="loadhold">
    <div id="lb1" class="loadbar">&nbsp;</div>
    <div id="lb2" class="loadbar">&nbsp;</div>
    <div id="lb3" class="loadbar">&nbsp;</div>
    <div id="lb4" class="loadbar">&nbsp;</div>
    <div id="lb5" class="loadbar">&nbsp;</div>
    <div id="lb6" class="loadbar">&nbsp;</div>
    <div id="lb7" class="loadbar">&nbsp;</div>
    <div id="lb8" class="loadbar">&nbsp;</div>
    <div id="lb9" class="loadbar">&nbsp;</div>
    <div id="lb10" class="loadbar">&nbsp;</div>
    <div id="lb11" class="loadbar">&nbsp;</div>
    <div id="lb12" class="loadbar">&nbsp;</div>
    <div id="lb13" class="loadbar">&nbsp;</div>
    <div id="lb14" class="loadbar">&nbsp;</div>

    <div id="lb15" class="loadbar">&nbsp;</div>      
    <div id="lb16" class="loadbar">&nbsp;</div>
    <div id="lb17" class="loadbar">&nbsp;</div>
    <div id="lb18" class="loadbar">&nbsp;</div>
    <div id="lb19" class="loadbar">&nbsp;</div>
    <div id="lb20" class="loadbar">&nbsp;</div>
    <div id="lb21" class="loadbar">&nbsp;</div>
    <div id="lb22" class="loadbar">&nbsp;</div>
    <div id="lb23" class="loadbar">&nbsp;</div>
    <div id="lb24" class="loadbar">&nbsp;</div>
    <div id="lb25" class="loadbar">&nbsp;</div>
    <div id="lb26" class="loadbar">&nbsp;</div>
    <div id="lb27" class="loadbar">&nbsp;</div>
    <div id="lb28" class="loadbar">&nbsp;</div>
    <div id="lb29" class="loadbar">&nbsp;</div>
    <div id="lb30" class="loadbar">&nbsp;</div>
    <div id="lb31" class="loadbar">&nbsp;</div>
    <div id="lb32" class="loadbar">&nbsp;</div>
    <div id="lb33" class="loadbar">&nbsp;</div>
    <div id="lb34" class="loadbar">&nbsp;</div>
    <div id="lb35" class="loadbar">&nbsp;</div>
    <div id="lb36" class="loadbar">&nbsp;</div>
    <div id="lb37" class="loadbar">&nbsp;</div>
    <div id="lb38" class="loadbar">&nbsp;</div>
    <div id="lb39" class="loadbar">&nbsp;</div>
    <div id="lb40" class="loadbar">&nbsp;</div>
    <div id="lb41" class="loadbar">&nbsp;</div>
    <div id="lb42" class="loadbar">&nbsp;</div>
    <div id="lb43" class="loadbar">&nbsp;</div>
    <div id="lb44" class="loadbar">&nbsp;</div>
    <div id="lb45" class="loadbar">&nbsp;</div>
    <div id="lb46" class="loadbar">&nbsp;</div>
    <div id="lb47" class="loadbar">&nbsp;</div>
    <div id="lb48" class="loadbar">&nbsp;</div>
    <div id="lb49" class="loadbar">&nbsp;</div>
    <div id="lb50" class="loadbar">&nbsp;</div>
    <div id="lb51" class="loadbar">&nbsp;</div>
    <div id="lb52" class="loadbar">&nbsp;</div>
    <div id="lb53" class="loadbar">&nbsp;</div>
    <div id="lb54" class="loadbar">&nbsp;</div>
    <div id="lb55" class="loadbar">&nbsp;</div>
    <div id="lb56" class="loadbar">&nbsp;</div>
    <div id="lb57" class="loadbar">&nbsp;</div>
    <div id="lb58" class="loadbar">&nbsp;</div>
    <div id="lb59" class="loadbar">&nbsp;</div>
    <div id="lb60" class="loadbar">&nbsp;</div>
    <div id="lb61" class="loadbar">&nbsp;</div>
    <div id="lb62" class="loadbar">&nbsp;</div>
    <div id="lb63" class="loadbar">&nbsp;</div>
    <div id="lb64" class="loadbar">&nbsp;</div>
    <div id="lb65" class="loadbar">&nbsp;</div>
    <div id="lb66" class="loadbar">&nbsp;</div>
    <div id="lb67" class="loadbar">&nbsp;</div>
    <div id="lb68" class="loadbar">&nbsp;</div>
    <div id="lb69" class="loadbar">&nbsp;</div>
    <div id="lb70" class="loadbar">&nbsp;</div>
    <div id="lb71" class="loadbar">&nbsp;</div>
    <div id="lb72" class="loadbar">&nbsp;</div>
    <div id="lb73" class="loadbar">&nbsp;</div>
    <div id="lb74" class="loadbar">&nbsp;</div>
    <div id="lb75" class="loadbar">&nbsp;</div>
    <div id="lb76" class="loadbar">&nbsp;</div>
    <div id="lb77" class="loadbar">&nbsp;</div>
    <div id="lb78" class="loadbar">&nbsp;</div>
    <div id="lb79" class="loadbar">&nbsp;</div>
    <div id="lb80" class="loadbar">&nbsp;</div>
    <div id="lb81" class="loadbar">&nbsp;</div>
    <div id="lb82" class="loadbar">&nbsp;</div>
    <div id="lb83" class="loadbar">&nbsp;</div>
    <div id="lb84" class="loadbar">&nbsp;</div>
    <div id="lb85" class="loadbar">&nbsp;</div>
    <div id="lb86" class="loadbar">&nbsp;</div>
    <div id="lb87" class="loadbar">&nbsp;</div>
    <div id="lb88" class="loadbar">&nbsp;</div>
    <div id="lb89" class="loadbar">&nbsp;</div>
    <div id="lb90" class="loadbar">&nbsp;</div>
    <div id="lb91" class="loadbar">&nbsp;</div>
    <div id="lb92" class="loadbar">&nbsp;</div>
    <div id="lb93" class="loadbar">&nbsp;</div>
    <div id="lb94" class="loadbar">&nbsp;</div>
    <div id="lb95" class="loadbar">&nbsp;</div>
    <div id="lb96" class="loadbar">&nbsp;</div>
    <div id="lb97" class="loadbar">&nbsp;</div>
    <div id="lb98" class="loadbar">&nbsp;</div>
    <div id="lb99" class="loadbar">&nbsp;</div>
    <div id="lb100" class="loadbar">&nbsp;</div>
</div>
